In [2]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline as pyo

In [3]:
df = pd.read_csv("../data/mpg.csv")
display(df.head())
display(df.columns)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [4]:
# Scatter-Plot


trace1 = [
    go.Scatter(
        x=df["mpg"],
        y=df["cylinders"],
        mode="markers",
        text=df["name"],
        marker=dict(size=12),
        # name="dsgh",
    )
]


layout = go.Layout(title="MPG stuff", xaxis_title="mpg",
                   yaxis_title="calinders")

fig = go.Figure(data=trace1, layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [5]:
data = [
    go.Scatter(
        x=df["horsepower"],
        y=df["mpg"],
        text=df["name"],  # shows name in plot
        mode="markers",
        marker=dict(size=1.5 * df["weight"] / 100, color=df["cylinders"], showscale=True),
        # marker=dict(size=df['weight']/100),
        name="horsepower",
    )
]


layout = go.Layout(title="life expectancy vs. gdp per capita (colour=cylinders, size=weight)")

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

## Example 2

In [6]:
df = pd.read_csv("../data/wheels.csv")
display(df.head())
display(df.columns)

   wheels   color               image
0       1     red     redunicycle.jpg
1       1    blue    blueunicycle.jpg
2       1  yellow  yellowunicycle.jpg
3       2     red      redbicycle.jpg
4       2    blue  bluemotorcycle.jpg

Index(['wheels', 'color', 'image'], dtype='object')

In [14]:
df[(df["wheels"] == 1) & (df["color"] == "blue")]

   wheels color             image
1       1  blue  blueunicycle.jpg

In [10]:
df[(df["wheels"] == 1) & (df["color"] == "blue")]

wheels                 2
color                red
image     redbicycle.jpg
Name: 3, dtype: object

In [18]:
df[(df["wheels"] == 1) & (df["color"] == "blue")]["image"]

1    blueunicycle.jpg
Name: image, dtype: object

In [15]:
df.loc[(df["wheels"] == 1) & (df["color"] == "blue")]

   wheels color             image
1       1  blue  blueunicycle.jpg

In [16]:
df[(df["wheels"] == 1)]

   wheels   color               image
0       1     red     redunicycle.jpg
1       1    blue    blueunicycle.jpg
2       1  yellow  yellowunicycle.jpg

In [17]:
df.loc[(df["wheels"] == 1)]

   wheels   color               image
0       1     red     redunicycle.jpg
1       1    blue    blueunicycle.jpg
2       1  yellow  yellowunicycle.jpg