# Heatmap

- visualization of 3 dimensional data
- 2 dimensions are represented by x and y axis (categorical or continuously)
- 3rd dimension is represented by color (continuously)

In [17]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go
from plotly import tools

## Example 1

In [18]:
df = pd.read_csv("../data/2010SantaBarbaraCA.csv")
df

     LST_DATE      DAY LST_TIME  T_HR_AVG
0    20100601  TUESDAY     0:00      12.7
1    20100601  TUESDAY     1:00      12.7
2    20100601  TUESDAY     2:00      12.3
3    20100601  TUESDAY     3:00      12.5
4    20100601  TUESDAY     4:00      12.7
..        ...      ...      ...       ...
163  20100607   MONDAY    19:00      15.6
164  20100607   MONDAY    20:00      14.8
165  20100607   MONDAY    21:00      14.3
166  20100607   MONDAY    22:00      14.4
167  20100607   MONDAY    23:00      14.6

[168 rows x 4 columns]

In [19]:
trace = go.Heatmap(x=df["DAY"], y=df["LST_TIME"], z=df["T_HR_AVG"], colorscale="Jet")

data = [trace]

layout = go.Layout(title="Heatmap")

fig = go.Figure(data, layout)

pyo.plot(fig)

'temp-plot.html'

## Example 2

In [20]:
df2 = pd.read_csv("../data/2010SitkaAK.csv")
df3 = pd.read_csv("../data/2010YumaAZ.csv")

In [21]:
trace2 = go.Heatmap(x=df2["DAY"], y=df2["LST_TIME"], z=df2["T_HR_AVG"], zmin=5, zmax=40)
trace3 = go.Heatmap(x=df3["DAY"], y=df3["LST_TIME"], z=df3["T_HR_AVG"])

data = [trace, trace2, trace3]

fig = tools.make_subplots(
    rows=1, cols=3, subplot_titles=("SantaBarbara", "Sitka", "Yuma"), shared_xaxes=True
)

fig.append_trace(trace, 1, 1)
fig.append_trace(trace2, 1, 2)
fig.append_trace(trace3, 1, 3)

pyo.plot(fig)

'temp-plot.html'